{{#if this.shouldShow}}
  <ul
    class="custom-header-links
      {{if @outletArgs.topicInfoVisible 'custom-header-links--hide-links'}}"
  >
    {{#each this.links as |link|}}
      <li
        class={{concat-class
          "headerLink"
          link.device
          link.locale
          link.linkClass
          link.hideOnScroll
        }}
      >
        <a
          title={{link.anchorAttributes.title}}
          href={{link.anchorAttributes.href}}
          target={{link.anchorAttributes.target}}
        >
          {{link.linkText}}
        </a>
      </li>
    {{/each}}
  </ul>
{{/if}}